.feedback-page {
	.top-page-wrapper {
		.pic .content.green-block.green-block--bottom .green-block-image {
			top: -10%;
			bottom: unset;
			width: 75%;
            left: 40%;
			@media (max-width: 1920px) {
				width: 75%;
			}
			@media (max-width: 1699px) {
                top: -8%;
            }
			@media (max-width: 1399px) {
				top: -10%;
                left: 35%;
				width: 67%;
			}
			@media (max-width: 1299px) {
				width: 75%;
                left: 40%;
			}
			@media (max-width: 991px) {
				top: -10%;
				width: 60%;
			}
			@media (max-width: 575px) {
				width: 55%;
			}
			@media (max-width: 399px) {
				width: 60%;
			}
		}
		.description {
			@media (max-width: 991px) {
				max-width: 70%;
			}
			@media (max-width: 575px) {
				max-width: 80%;
			}
			.basic-button {
				margin-top: 50px;
				@media (max-width: 1699px) {
					margin-top: 35px;
				}
				@media (max-width: 991px) {
					margin-top: 15px;
					margin-bottom: 50px;
				}
			}
		}
	}
}
