.feedback {
    .basic-title {
        color: $green;
        text-align: center;
        margin-bottom: 50px;
    }
    .feedback-content {
        .feed-link {
            margin-top: 50px;
        }
    }
}

.feedback--index {
    padding-top: 140px;
    padding-bottom: 120px;
}