.staff-page {
    .top-page-wrapper {
        margin-bottom: 150px;
        .description {
            font-weight: 400;
            .signature {
                margin-top: 70px;
            }
        }
    }
}