$main-font-color: #54544F;
// $main-basic: #79629d;
// $main-basic-light: #D0CEDC;
// $main-basic-dark: #533682;
// $main-basic-mat: #8e8aa7;
// $blue: #00A0E3;
// $grey: #656565;
$white: #ffffff;
$black: #000000;
$green: #027A3C;
$light-green: #25AE67;